<head>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<div id = "box1" class="box">
  <h2>Class 1</h2>
  <div id= "swiper1" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-0.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-1.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-2.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-3.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-4.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-5.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-6.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-7.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-8.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-8.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-9.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-10.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-11.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-12.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-13.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-14.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-15.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-16.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-17.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-18.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-19.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-20.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-21.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-22.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-23.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-24.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-25.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-26.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-27.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-28.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-28.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-29.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-30.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-31.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-32.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-13.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-34.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-35.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-36.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-37.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-38.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-38.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-39.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-30.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-41.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-42.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-43.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-44.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-45.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-46.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-47.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-48.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-48.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-49.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-50.png" class="rounded-img"></div>
      <div class="swiper-slide"><img src="/assets/gifs/ring/class1-51.png" class="rounded-img"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <!-- <p>Caption</p> -->
</div>

<style>
.box {
  width: 375px;
  height: 590px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/* Change the pagination color */
.swiper-pagination-bullet {
  background-color: #000000;
}

/* Change the active pagination color */
.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.swiper-pagination-fraction {
  color: #FFFFFF;
}

/* Change the arrow color */
.swiper-button-prev,
.swiper-button-next {
  color: #FFFFFF; 
}

.rounded-img {
  border-radius: 15px;
}

</style>

<script>
  var mySwiper1 = new Swiper('#swiper1', {
    // Configure options here
    speed: 100,
    effect: 'fade',
    loop: true,
    autoplay: {
      delay: 500,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  var boxElement1 = document.querySelector('#swiper1');

  boxElement1.addEventListener('mouseenter', function() {
    mySwiper1.autoplay.stop();
  });

  boxElement1.addEventListener('mouseleave', function() {
    mySwiper1.autoplay.start();
  });
</script>
