<head>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<div class="row">
  <div id = "box1" class="box">
    <h2>Class 1</h2>
    <div id= "swiper1" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-0.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-1.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-2.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-3.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-4.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-5.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-6.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-7.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-7.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-9.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-10.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-11.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-12.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-13.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-14.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-15.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class1-16.png" class="rounded-img"></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- <p>Caption</p> -->
  </div>

  <div id = "box2" class="box">
    <h2>Class 2</h2>
    <div id= "swiper2" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-0.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-1.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-2.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-3.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-4.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-5.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-6.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-7.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-8.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-9.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-10.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-11.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-12.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-13.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-14.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-15.png" class="rounded-img"></div>
        <div class="swiper-slide"><img src="/assets/gifs/schelling/class2-16.png" class="rounded-img"></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- <p>Caption</p> -->
  </div>
</div>

<style>
.row {
  display: flex;
  justify-content: center; /* Center the boxes horizontally */
}

.box {
  float: left;
  width: 375px;
  height: 585px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/* Change the pagination color */
.swiper-pagination-bullet {
  background-color: #000000;
}

/* Change the active pagination color */
.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

/* Change the arrow color */
.swiper-button-prev,
.swiper-button-next {
  color: #FFFFFF; 
}

.rounded-img {
  border-radius: 15px;
}

.masthead {
    background: grey;
}
.greedy-nav { 
   background: grey;
}
.greedy-nav a{ 
   color: white;
}

</style>

<script>
  var mySwiper1 = new Swiper('#swiper1', {
    // Configure options here
    speed: 200,
    effect: 'fade',
    loop: true,
    autoplay: {
      delay: 1000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  var mySwiper2 = new Swiper('#swiper2', {
    // Configure options here
    speed: 200,
    effect: 'fade',
    loop: true,
    autoplay: {
      delay: 1000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  var boxElement1 = document.querySelector('#swiper1');

  <!-- var tappped = false; -->

  <!-- {#swiper1}.on('tap', function(){ -->
  <!--      tapped = true; -->
  <!-- }); -->

  boxElement1.addEventListener('mouseenter', function() {
    mySwiper1.autoplay.stop();
  });

  boxElement1.addEventListener('mouseleave', function() {
    mySwiper1.autoplay.start();
  });

  var boxElement2 = document.querySelector('#swiper2');

  boxElement2.addEventListener('mouseenter', function() {
    mySwiper2.autoplay.stop();
  });

  boxElement2.addEventListener('mouseleave', function() {
    mySwiper2.autoplay.start();
  });
</script>
